* {
  margin: 0;
  padding: 0;
}

.projectDetail {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 32px;
  align-items: center;
  animation: color infinite 10s;
}
@keyframes color {
  0% {
    color: black;
  }
  25% {
    color: rgb(192, 73, 73);
  }
  50% {
    color: rgb(178, 148, 0);
  }
  1000% {
    color: rgb(0, 146, 146);
  }
  0% {
    color: rgb(125, 94, 94);
  }
}

.college {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 600;
}
.heading {
  font-size: 24px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.members {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.student {
  font-size: 32px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
